</head>
<body>
    <% include ./navbar %>
    <!-- 
        QUI MOSTRIAMO I MESSAGGI DI ERRORE CHE ABBIAMO PASSATO CON FLASH ALLE ROUTE CHE POI LI PASSANO
        AL TEMPLATE, IN TUTTI I TEMPLATES ABBIAMO INCLUSO L'HEADER
    -->
    <!-- CENTRIAMO IN ORIZZONTALE I MESSAGGI DI ERRORE CON UN CONTAINER-->
    <div class="container">
      <% include ./flash-messages %>
    </div>
