<!DOCTYPE html>
<html>

<head>
  <title>YelpCamp</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.4.1/mapbox-gl.js'></script>
  <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.4.1/mapbox-gl.css' rel='stylesheet' />

  <!-- CUSTOM CSS -->
  <link rel="stylesheet" type="text/css" href="/stylesheet/main.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheet/form.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheet/index.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheet/show.css" />
</head>

<body>
  <!-- NAVBAR CHE COMPARE IN TUTTE LE PAGINE DEL SITO -->
  <nav class="navbar navbar-default">
    <!-- PER AGGIUNGERE DEL PADDING AL CONTENUTO -->
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
          aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="/" class="navbar-brand">YelpCamp</a>
      </div>
      <div class="collapse navbar-collapse" id="navbar">
        <ul class="nav navbar-nav">
          <li><a href="/campgrounds">Home</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <!-- SE L'UTENTE NON E' LOGGATO VOGLIAMO MOSTRARE IL LINK LOGIN E SIGNUP -->
          <% if(!currentUser){ %>
          <li><a href="/login">Login</a></li>
          <li><a href="/register">Signup</a></li>
          <% } else { %>
          <!-- SE L'UTENTE E' LOGGATO MOSTRA SOLO IL LINK DI logout -->
          <!-- SE METTIAMO # COME VALORE AD href IN UN LINK, QUESTO NON PORTA DA NESSUNA PARTE,
                         NON FA NESSUNA RICHIESTA -->
          <li><a href="#">Signed In As <%= currentUser.username %></a></li>
          <li><a href="/logout">Logout</a></li>
          <% } %>
        </ul>
      </div>
    </div>
  </nav>

  <!-- 
        QUI MOSTRIAMO I MESSAGGI DI ERRORE CHE ABBIAMO PASSATO CON FLASH ALLE ROUTE CHE POI LI PASSANO
        AL TEMPLATE, IN TUTTI I TEMPLATES ABBIAMO INCLUSO L'HEADER
    -->
  <!-- CENTRIAMO IN ORIZZONTALE I MESSAGGI DI ERRORE CON UN CONTAINER-->
  <div class="container">
    <!-- CONTROLLIAMO SE CI SONO MESSAGGI DI ERRORE/SUCCESSO DA MOSTRARE E SE CI SONO LI MOSTRIAMO -->
    <!-- NON BASTA, CONTROLLARE SE LA VARIABILE ERROR/SUCCESS, E' DEFINITA, PERCHE' E' DEFINITA SEMPRE
             A CAUSA DEL MIDDLEWARE IN app.js CHE LA ASEGNA COME VARIABILE DEI TEMPLATES DI TUTTE LE ROUTES,
             DOBBIAMO CONTROLLARE CHE LA LUNGHEZZA DEL SUO CONTENUTO SIA > 0 IN QUANTO SE CONTIENE UN MESSAGGIO
             TRASMESSO CON FLASH ALLORA LA SUA LUNGHEZZA SARA' MAGGIORE DI 0

             ANCHE SE NON SAREBBE NECESSARIO CONTROLLARE SE ERROR/SUCCESS SIA DEFINITO, NELLA CONDIZIONE DEL IF,
             LO FACCIAMO PER FARE IN MODO CHE LA NOSTRA APP NON SI ROMPA NEL CASO CHE A error / success VENGA
             PASSATO UN VALORE CHE NON HA LUNGHEZZA PER ESEMPIO null o undefined ED EVITIAMO COSI' DEGLI ERRORI
        -->
    <% if(error && error.length > 0){ %>
    <!-- MOSTRIAMO IL MESSAGGIO DI ERRORE IN UN alert danger QUINDI IN UN CONTENITORE CON SFONDO ROSSO -->
    <div class="alert alert-danger" role="alert">
      <%= error %>
    </div>
    <% } %> <% if(success && success.length > 0){ %>
    <!-- MOSTRIAMO IL MESSAGGIO DI SUCCESSO IN UN alert success QUINDI IN UN CONTENITORE CON SFONDO VERDE -->
    <div class="alert alert-success" role="alert">
      <%= success %>
    </div>
    <% } %>