<!DOCTYPE html>
<html>
  <head>
    <title>YelpCamp</title>
    <!-- anche se a volte sembra che non serva includere la favicon nel head a volte è meglio includerla
    perchè non è detto che il browser la richieda in automatico e una vecchia versione potrebbe essere nella
    cache quindi è utile specificare in query string v=1.1 che significa che deve essere richiesta la favicon 
    nuova e non essere usata quella nella cache -->
    <link rel="icon" href="favicon.ico?v=1.1" />
    <!-- Latest compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/f463be6819.js"
      crossorigin="anonymous"
    ></script>
    <% include ./includeMapbox %>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- CUSTOM CSS -->
    <link rel="stylesheet" href="/stylesheet/starbility.min.css" />
  </head>
</html>
