<% include ../partials/header %>
<link rel="stylesheet" type="text/css" href="/stylesheet/form.css" />
<% include ../partials/close_header %>
<div class="container">
  <h1 class="text-center">Comment <%= campground.name %></h1>
  <div class="row form-row">
    <form action="/campgrounds/<%= campground._id %>/comments" method="POST">
      <div class="form-group" style="margin: 0;">
        <h4>Rating:</h4>
        <fieldset class="starability-fade">
          <input
            type="radio"
            id="no-rate"
            class="input-no-rate"
            name="comment[rating]"
            value="0"
            checked
            aria-label="No rating."
          />
          <input
            type="radio"
            id="first-rate1"
            name="comment[rating]"
            value="1"
          />
          <label for="first-rate1" title="Terrible">1 star</label>
          <input
            type="radio"
            id="first-rate2"
            name="comment[rating]"
            value="2"
          />
          <label for="first-rate2" title="Not good">2 stars</label>
          <input
            type="radio"
            id="first-rate3"
            name="comment[rating]"
            value="3"
          />
          <label for="first-rate3" title="Average">3 stars</label>
          <input
            type="radio"
            id="first-rate4"
            name="comment[rating]"
            value="4"
          />
          <label for="first-rate4" title="Very good">4 stars</label>
          <input
            type="radio"
            id="first-rate5"
            name="comment[rating]"
            value="5"
          />
          <label for="first-rate5" title="Amazing">5 stars</label>
        </fieldset>
      </div>
      <div class="form-group">
        <textarea
          name="comment[text]"
          cols="30"
          rows="10"
          class="form-control"
          placeholder="your comment"
        ></textarea>
      </div>
      <div class="form-group">
        <button class="btn btn-lg btn-primary btn-block" type="submit">
          CREATE
        </button>
      </div>
    </form>

    <a href="/campgrounds">go back</a>
  </div>
</div>
<script>
  $("form").submit(function(event) {
    if (!$("input[type=radio]:not(#no-rate):checked").length) {
      event.preventDefault();
      alert("please, give a valid star rating");
    }
  });
</script>

<% include ../partials/footer %>
