/* EDIT PROFILE STYLES */
header {
  text-align: center;
  margin-bottom: 30px;
}

h2 {
  display: block;
}

/* PASSWORD MATCHING STATE LABEL COLORS */
.success {
  color: green;
}
.error {
  color: red;
}
