/* EDIT FORM CSS */

.form-row {
  width: 30%;
  margin: 25px auto;
}

.image {
  width: 275px;
  margin-top: 15px;
  margin-right: 45px;
}
input[type="checkbox"] {
  display: inline-block;
  width: 20px;
  height: 20px;
}

/* AUTH FORMS CSS */

.title {
  text-align: center;
}

.auth-btn {
  margin-bottom: 20px;
}

.auth-link {
  margin-bottom: 15px;
}
