/* SETTIAMO LA LARGHEZZA DELLE IMMAGINI DENTRO IL THUMBNAIL AL 100% DEL ELEMENTO GENITORE */
.thumbnail img{
	width: 100%;
}

/* TOGLIAMO IL PADDING TRA IL THUMBNAIL E IL CONTENUTO */

.thumbnail{
	padding: 0;
}

/* FA DIVENTARE IL FORM CON IL PULSANTE PER CANCELLARE UN CAMPGROUND / COMMENTO UN ELEMENTO
   INLINE IN QUESTO MODO E' ALLINEATO ORIZZONTALMENTE CON IL PULSANTE PER MODIFICARE LO STESSO OGGETTO */
.delete_form {
	display: inline;
}

