/* GET PROFILE STYLES */

.row {
  display: flex;
  justify-content: center;
}

#controllers {
  display: flex;
  justify-content: center;
}

#img-container {
  display: flex;
  justify-content: center;
}

img {
  width: 200px;
  border-radius: 30px;
}

#data {
  text-align: center;
  margin-bottom: 40px;
}

h2 {
  display: inline-block;
}

#edit-profile-link {
  display: inline-block;
  margin: 0 0 9px 3px;
}

#campgrounds-btn,
#comments-btn {
  display: inline-block;
  margin: 0 10px 0 10px;
  width: 45%;
}

#campgrounds,
#comments {
  margin-top: 40px;
}
