input[type="checkbox"] + label {
  margin-right: 10px;
}

#customDistanceContainer {
  margin-top: 15px;
}

#cleanLocation {
  display: inline-block;
  margin-top: 15px;
}

.Min {
  margin-right: 10px;
}

.Max,
.Min {
  display: inline-block;
  width: 45%;
}
