<!-- LANDING PAGE DI YELPCAMP -->
<html lang="en">
  <head>
    <!-- Latest compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/stylesheet/landing.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- SERVE PER ESTENDERE LA COMPATIBILITA' DEL NOSTRO CODICE ANCHE A BROWSER VECCHI -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"
      type="text/javascript"
      async
    ></script>
    <script src="https://api.tiles.mapbox.com/mapbox-gl-js/v1.4.1/mapbox-gl.js"></script>
    <link
      href="https://api.mapbox.com/mapbox-gl-js/v1.6.1/mapbox-gl.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.4.2/mapbox-gl-geocoder.css"
      type="text/css"
    />
    <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.4.2/mapbox-gl-geocoder.min.js"></script>
    <title>YelpCamp</title>
  </head>

  <body>
    <!-- MOSTRA I MESSAGGI DI ERRORE O DI SUCCESSO -->
    <div class="container">
      <% if(error && error.length > 0){ %>
      <div class="alert alert-danger" role="alert">
        <%= error %>
      </div>
      <% } %> <% if(success && success.length > 0){ %>
      <div class="alert alert-success" role="alert">
        <%= success %>
      </div>
      <% } %>
    </div>

    <!-- INTESTAZIONE DELLA LANDING PAGE -->
    <div id="landing-header">
      <h1>Welcome On YelpCamp</h1>
      <div id="map" style=""></div>
      <a href="/campgrounds" class="btn btn-lg btn-success"
        >See All Campgrounds</a
      >
    </div>

    <!-- 
                MOSTREREMO LE 5 FOTO CHE SI ALTERNERANNO NELLO SLIDESHOW AL INTERNO DI UNA LISTA COME ELEMENTI 
                RIMUOVENDO I PALLINI DA OGNI ELEMENTO, FACENDO ESTENDERE LE FOTO A TUTTO SCHERMO PER POI CAMBIARLE 
                DOPO UN CERTO NUMERO DI SECONDI 
            -->
    <ul class="slideshow">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
    <% include partials/footer %>
    <script>
      const campgrounds = {features: <%- JSON.stringify(campgrounds) %>};
      const isLanding = true;
    </script>
    <script src="/javascripts/campgroundClusterMaps.js"></script>
  </body>
</html>
